name: ui
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.0.0
  http: ^1.2.2 # Updated version
  shared_preferences: ^2.0.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/Blue-Aesthetic-Background.png
    - assets/njnj.png
# Uncomment and modify this section to add assets
# assets:
#   - images/
